.ais-RefinementList-labelText {
    font-size: 20px !important;
}

.hit-item {
    font-size: 15px !important;
}

.ais-SearchBox-input {
    font-size: 20px !important;
}

.sidebar {
    background-color: "blue" !important;
}