.footer{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 60px;
    background: rgba(245, 245, 245, 0.966);
    color: rgb(91, 91, 91);
    font-family: 'Roboto', sans-serif;

}

#about-connect{
    text-align: left;
}

#contact-connect{
    text-align: left;
}



a{
    background-color: rgb(254, 125, 74);
}

#copyright{
    margin-top: 5%;
    margin-bottom: -4%;

}
