.icons {
    height: 90px;
    width: 90px;
    text-align: center;

    
    
}

.imageCards{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    color: rgb(101, 101, 101);
    background: rgba(245, 245, 245, 0.966);
}

h3 {
    font-size: 20px;
    font-weight: inherit;
}